<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <!-- Icon - IconMonster -->
  <!-- <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
  <!-- Mumble UI -->
  <!-- <link rel="stylesheet" href="uikit/styles/uikit.css" />
  <!-- Dev Search UI -->
  <!-- <link rel="stylesheet" href="styles/app.css" /> -->

  <title>DevSearch - Connect with us!</title>
  <style>
    .btn-cancel {
      background-color: #0099CC;
      color: white;
    }
  </style>
</head>

<body>
  <!-- Header Section -->
  <header class="header">
    <!-- Header content goes here -->
  </header>

  <!-- Main Section -->
  <main class="home">
    <section class="hero-section text-center">
      <!-- Hero section content goes here -->
      <form class="form" action="#" method="get">
        <div class="form__field">
          <label for="formInput#search">Search</label>
          <input class="input input--text" id="formInput#search" type="text" name="text" placeholder="Search" />
        </div>
        <input class="btn btn-primary btn--lg my-md btn-cancel" type="submit" value="Search" />
        <input class="btn btn-primary btn--lg my-md btn-cancel" id="Cancel" type="button" value="Cancel">
      </form>
    </section>
  </main>

  <!-- Scripts -->
  <script>
    document.getElementById("Cancel").addEventListener("click", function () {
      window.location.href = "{% url 'index' %}";
    });
  </script>
</body>

</html>